@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
  /* Background kartu sekarang diterapkan ke seluruh halaman */
  background-color: #fcecf1;
  background-image: repeating-linear-gradient(
      45deg,
      #fde3ef,
      #fde3ef 10px,
      transparent 10px,
      transparent 20px
    ),
    repeating-linear-gradient(
      -45deg,
      #fde3ef,
      #fde3ef 10px,
      transparent 10px,
      transparent 20px
    );
}

.App {
  /* Hapus semua style agar tidak mengganggu layout fullscreen */
  width: 100%;
}